<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4 mx-auto">
      <form class="text-center border border-light p-5" #signInForm="ngForm" (ngSubmit)="onSubmit()">
        <p class="h4 mb-4">Sign in</p>
        <div *ngIf="isInvalidCredentials || isServerError" class="text-danger mb-2">{{ message }}</div>
        <input type="email" name="email" [(ngModel)]="model.email" #email="ngModel" class="form-control mb-4" placeholder="E-mail" required>
        <input type="password" name="password" [(ngModel)]="model.password" class="form-control mb-4" #password="ngModel" placeholder="Password" required>
        <div class="d-flex justify-content-around">
          <div>
            <a href="">Forgot password?</a>
          </div>
        </div>
        <button class="btn btn-primary my-4" type="submit">Sign in</button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
