<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col bg-info">Hello</div>
    <div class="col bg-danger">Man</div>
  </div>
</div>
<app-footer></app-footer>
